<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Single View for Person</h1>

    <f:flashMessages />
    <table  class="tx_heiner" >
      <tr>
          <th><f:translate key="tx_heiner_domain_model_person.anrede" /></th>
          <th><f:translate key="tx_heiner_domain_model_person.vorname" /></th>
          <th><f:translate key="tx_heiner_domain_model_person.nachname" /></th>
          <th><f:translate key="tx_heiner_domain_model_person.firma.name" /></th>
          <th><f:translate key="tx_heiner_domain_model_person.firma.unterzeile" /></th>
          <th><f:translate key="tx_heiner_domain_model_person.firma.strasse" /></th>
          <th><f:translate key="tx_heiner_domain_model_person.firma.plz" /></th>
          <th><f:translate key="tx_heiner_domain_model_person.firma.ort" /></th>
          <th><f:translate key="tx_heiner_domain_model_person.firma.telefon" /></th>
          <th><f:translate key="tx_heiner_domain_model_person.firma.fax" /></th>

          <th><f:translate key="tx_heiner_domain_model_person.firma.web" /></th>
          

          <th> </th>
          <th> </th>
      </tr>

      <f:for each="{persons}" as="person">

          <tr>
              <td>{person.anrede}</td>
              <td>{person.vorname}</td>
              <td>{person.nachname}</td>
              <td>{person.email}</td>
              <td>{person.telefon}</td>
              <td><f:link.action action="show" arguments="{person : person}">{person.firma.name}</f:link.action></td>
              <td><f:link.action action="edit" arguments="{person : person}">Edit</f:link.action></td>
              <td><f:link.action action="delete" arguments="{person : person}">Delete</f:link.action></td>
          </tr>
      </f:for>
  </table>
    <f:link.action action="list">Back to list</f:link.action><br />
    <f:link.action action="new">New Person</f:link.action>
</f:section>
</html>
