<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="">
<div class="d-flex justify-content-center align-items-center"><footer class="page-footer font-small indigo footer">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mx-auto d-flex flex-column justify-content-center align-items-center">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 ">Impressum</h5>
  
          <ul class="list-unstyled">
            <li>
            <f:link.page pageUid="15" >Impressum</f:link.page>
             
            </li>

          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
       
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
    
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-6 mx-auto d-flex flex-column justify-content-center align-items-center">
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Datenschutz</h5>

            <ul class="list-unstyled">
          <!-- Links -->
          <f:link.page pageUid="16">Datenschutz</f:link.page>
  
        </ul>
 

      
  
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->

</div>
  </footer>
</div>
</html>