<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="container search">
   
<f:form action="search" controller="CompanyController"name="search"  enctype="multipart/form-data">
    <div class="d-flex">
    <h4 class="text-nowrap d-flex align-items-center mt-3 mr-3">Bitte Suchbegriff eingeben: </h3>
    <f:form.select id="personProperty"class="form-control mt-3 mr-3 selectMenu">
        <f:form.select.option value="">Bitte auswählen</f:form.select.option>
        <f:form.select.option value="email">Email</f:form.select.option>
        <f:form.select.option value="vorname">Vorname</f:form.select.option>
        <f:form.select.option value="nachname">Nachname</f:form.select.option>
    </f:form.select>
    <f:form.textfield name="searchKeyword" id="searchInput" placeholder="Suchbegriff.." class="form-control searchInput d-flex justify-content-center mt-3" />
    

    <f:form.hidden name="uri_hidden" id="uri_hiddenSearch" value="<f:uri.action controller='Person'  action='ajaxSearch' />" /> 
</div>
</f:form>

</div>
</html>

