<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  data-namespace-typo3-fluid="true"
>
  <f:form.select
    name="ajaxPageLimit"
    id="ajaxPageLimitCompany"
    class="form-control"
  >
    <f:form.select.option id="currentLimit" value="{currentLimit}">
      {defaultLimit}</f:form.select.option
    >
    <f:for each="{limits}" as="limit">
      <f:if condition="{defaultLimit}!={limit}">
        <f:form.select.option id="pageLimitOption" value="{limit}"
          >{limit}</f:form.select.option
        >
      </f:if>
    </f:for>
  </f:form.select>
  <f:form.hidden
    name="uri_hidden"
    id="uri_hiddenCompany"
    value="<f:uri.action
    action=
    'ajaxList' controller='Company'
  />"
  />
</html>
<script></script>
