<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-heiner" >
	<tr>
		<td>
			<f:translate key="tx_heiner_domain_model_company.name" />
		</td>
		<td>
		{company.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_heiner_domain_model_company.unterzeile" />
		</td>
		<td>
		{company.unterzeile}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_heiner_domain_model_company.strasse" />
		</td>
		<td>
		{company.strasse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_heiner_domain_model_company.plz" />
		</td>
		<td>
		{company.plz}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_heiner_domain_model_company.ort" />
		</td>
		<td>
		{company.ort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_heiner_domain_model_company.telefon" />
		</td>
		<td>
		{company.telefon}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_heiner_domain_model_company.fax" />
		</td>
		<td>
		{company.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_heiner_domain_model_company.web" />
		</td>
		<td>
		{company.web}
		</td>
	</tr>
</table>
</html>
