<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-heiner" >

	<tr>
		<td>
			<f:translate key="tx_heiner_domain_model_person.anrede" />
		</td>
		<td>
		{person.anrede}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_heiner_domain_model_person.vorname" />
		</td>
		<td>
		{person.vorname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_heiner_domain_model_person.nachname" />
		</td>
		<td>
		{person.nachname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_heiner_domain_model_person.email" />
		</td>
		<td>
		{person.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_heiner_domain_model_person.telefon" />
		</td>
		<td>
		{person.telefon}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_heiner_domain_model_person.handy" />
		</td>
		<td>
		{person.handy}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_heiner_domain_model_person.firma" />
		</td>
		<td>
			
		{person.firma}
		</td>
	</tr>
</table>
</html>
